.div_cartes {
  width: 200px;
  height: 200px;
  box-shadow: inset;
  border: none;
  transition: all 1s ease-in-out;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.div_cartes:hover {
  border-style: outset;
}
