.les_developpeurs {
  width: 100%;
  height: 300px;
  text-align: center;
  color: #e60278;
 margin-top: 100px;
 margin-bottom: 1000px;
}

.h1_developpeurs {
font-size: xx-large;
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;

}

.h3_developpeurs{
font-size: x-large;
font-weight:bold;
font-family: Georgia, 'Times New Roman', Times, serif;


}



.div_developpeurs{
width: 250px;
height: 300px;
padding: 1rem;
margin: 20px;
border-radius: 20px;
border-style: inset;
border:none;
background-color: white;
text-align: center;
transition: all 1s ease-in-out;
}

.div_developpeurs:hover{
  background-color: black;
  color: #ffffff; /* texte blanc */
text-shadow:
  0 0 5px #ff0033,
  0 0 10px #ff0033,
  0 0 20px #ff0033,
  0 0 40px #ff0033;
 text-align: center;
 transition: all 1S ease-in-out;
transform: scale(1.3);
}


.p_developpeurs{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: xx-large;
 
color: #ffffff; /* texte blanc */
text-shadow:
  0 0 5px #ff0033,
  0 0 10px #ff0033,
  0 0 20px #ff0033,
  0 0 40px #ff0033;
 text-align: center;
 transition: all 1S ease-in-out;
}

.p_developpeurs:hover{
  transform: scale(1.2);

}
.Developpeurs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  margin:20px;
margin-top: 100px;

}

